<header>
    <div class="constrainedwidth">

      <!-- TOGGLE ICON -->

      <a class="toggle_icon" data-target=".nav-collapsenotloggedin"></a>

      <!-- END TOGGLE ICON -->

      <a href="javascript:;" class="logocontainer">
        <span class="hplogo"></span>
        <span class="logotext">{{title}}</span>
      </a>

      <div class="nav-collapsenotloggedin">
        <ul class="mainnav">
          <li><span class="line"></span></li> 
          <li><a href="javascript:;">Link A</a></li>
          <li><span class="line"></span></li>    
          <li><a href="javascript:;">Link B</a></li>
          <li><span class="line"></span></li>    
          <li><a href="javascript:;">Link C</a></li>
        </ul>

        <ul class="mainnavrightheader">
          <li><a href="javascript:;" class="forgot_pwd">forgot password? </a></li>
          <li> <a href="javascript:;" class="align"><button class="secondarybutton btn_small addmarginfive">Log in </button></a></li> 
        </ul>
      </div> <!-- end nav-collapsenotloggedin -->

    </div> <!-- end constrainedwidth -->
</header>