
<!-- CONFIRMATION MODAL TEMPLATE -->

<div class="modalcontainer">            
  <div class="modalcontentwrapper maxcontentheight">
    <div class="modalcontent">
      <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
    </div>
  </div>
  <div class="modalfooter"> 
    <div class="footertext buttonwrapper">
      <button class="primarybutton addmarginright">Yes </button>
      <button class="secondarybutton" ng-click="cancel()">Cancel </button>
    </div>
  </div>
</div>  

<!-- END CONFIRMATION MODAL TEMPLATE -->


