
<!-- MESSAGE MODAL TEMPLATE -->

<div class="modalcontainer">      
  <div class="modalheader">
    <ul class="modalmainnavright">
      <li><a class="closeicon" ng-click="cancel()"><span></span></a></li>
    </ul>
  </div>      
  <div class="modalcontentwrapper maxcontentheight">
  	<div class="modalcontent">
    	<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
    </div>
  </div>
  <div class="clear"></div>
</div>  


<!-- END MESSAGE MODAL TEMPLATE -->
