.hpux { background: url("images/gccsprite.png") 0 0 no-repeat; }
.hpux.logo { width: 40px; height: 40px; }
.hpux.logo.blue { background: url("images/gccsprite.png") -10px -10px; }
.hpux.logo.gray { background: url("images/gccsprite.png") -70px -10px; }
.hpux.logo.white { background: url("images/gccsprite.png") -130px -10px; }
.hpux.drawer { width: 20px; height: 18px; }
.hpux.drawer.blue { background: url("images/gccsprite.png") -20px -81px; }
.hpux.drawer.gray { background: url("images/gccsprite.png") -80px -81px; }
.hpux.drawer.white { background: url("images/gccsprite.png") -140px -81px; }
.hpux.home { width: 22px; height: 20px; }
.hpux.home.blue { background: url("images/gccsprite.png") -19px -140px; }
.hpux.home.gray { background: url("images/gccsprite.png") -79px -140px; }
.hpux.home.white { background: url("images/gccsprite.png") -139px -140px; }
.hpux.download { width: 22px; height: 22px; }
.hpux.download.blue { background: url("images/gccsprite.png") -19px -199px; }
.hpux.download.gray { background: url("images/gccsprite.png") -79px -199px; }
.hpux.download.white { background: url("images/gccsprite.png") -139px -199px; }
.hpux.download.large { width: 40px; height: 42px; }
.hpux.download.large.blue { background: url("images/gccsprite.png") -190px -1869px; }
.hpux.download.large.gray { background: url("images/gccsprite.png") -250px -1869px; }
.hpux.download.large.white { background: url("images/gccsprite.png") -310px -1869px; }
.hpux.secure-lock { width: 22px; height: 26px; }
.hpux.secure-lock.blue { background: url("images/gccsprite.png") -199px -2117px; }
.hpux.secure-lock.gray { background: url("images/gccsprite.png") -259px -2117px; }
.hpux.secure-lock.white { background: url("images/gccsprite.png") -319px -2117px; }
.hpux.secure-lock.large { width: 34px; height: 40px; }
.hpux.secure-lock.large.blue { background: url("images/gccsprite.png") -193px -1930px; }
.hpux.secure-lock.large.gray { background: url("images/gccsprite.png") -253px -1930px; }
.hpux.secure-lock.large.white { background: url("images/gccsprite.png") -313px -1930px; }
.hpux.secure-payment { width: 21px; height: 18px; }
.hpux.secure-payment.blue { background: url("images/gccsprite.png") -200px -2601px; }
.hpux.secure-payment.gray { background: url("images/gccsprite.png") -260px -2601px; }
.hpux.secure-payment.white { background: url("images/gccsprite.png") -320px -2601px; }
.hpux.secure-payment.large { width: 32px; height: 26px; }
.hpux.secure-payment.large.blue { background: url("images/gccsprite.png") -194px -2657px; }
.hpux.secure-payment.large.gray { background: url("images/gccsprite.png") -254px -2657px; }
.hpux.secure-payment.large.white { background: url("images/gccsprite.png") -314px -2657px; }
.hpux.update { width: 20px; height: 18px; }
.hpux.update.blue { background: url("images/gccsprite.png") -20px -261px; }
.hpux.update.gray { background: url("images/gccsprite.png") -80px -261px; }
.hpux.update.white { background: url("images/gccsprite.png") -140px -261px; }
.hpux.desktop { width: 40px; height: 40px; }
.hpux.desktop.blue { background: url("images/gccsprite.png") -10px -310px; }
.hpux.desktop.gray { background: url("images/gccsprite.png") -70px -310px; }
.hpux.desktop.white { background: url("images/gccsprite.png") -130px -310px; }
.hpux.tablet { width: 40px; height: 40px; }
.hpux.tablet.blue { background: url("images/gccsprite.png") -9px -370px; }
.hpux.tablet.gray { background: url("images/gccsprite.png") -69px -370px; }
.hpux.tablet.white { background: url("images/gccsprite.png") -129px -370px; }
.hpux.phone { width: 40px; height: 40px; }
.hpux.phone.blue { background: url("images/gccsprite.png") -9px -430px; }
.hpux.phone.gray { background: url("images/gccsprite.png") -69px -430px; }
.hpux.phone.white { background: url("images/gccsprite.png") -129px -430px; }
.hpux.help { width: 10px; height: 18px; }
.hpux.help.blue { background: url("images/gccsprite.png") -25px -501px; }
.hpux.help.gray { background: url("images/gccsprite.png") -85px -501px; }
.hpux.help.white { background: url("images/gccsprite.png") -145px -501px; }
.hpux.user { width: 16px; height: 16px; }
.hpux.user.blue { background: url("images/gccsprite.png") -22px -562px; }
.hpux.user.gray { background: url("images/gccsprite.png") -82px -562px; }
.hpux.user.white { background: url("images/gccsprite.png") -142px -562px; }
.hpux.search { width: 21px; height: 20px; }
.hpux.search.blue { background: url("images/gccsprite.png") -20px -621px; }
.hpux.search.gray { background: url("images/gccsprite.png") -80px -621px; }
.hpux.search.white { background: url("images/gccsprite.png") -140px -621px; }
.hpux.arrow-down { width: 14px; height: 10px; }
.hpux.arrow-down.blue { background: url("images/gccsprite.png") -23px -685px; }
.hpux.arrow-down.gray { background: url("images/gccsprite.png") -83px -685px; }
.hpux.arrow-down.white { background: url("images/gccsprite.png") -143px -685px; }
.hpux.arrow-right { width: 10px; height: 14px; }
.hpux.arrow-right.blue { background: url("images/gccsprite.png") -25px -743px; }
.hpux.arrow-right.gray { background: url("images/gccsprite.png") -85px -743px; }
.hpux.arrow-right.white { background: url("images/gccsprite.png") -145px -743px; }
.hpux.arrow-right.large { width: 14px; height: 22px; }
.hpux.arrow-right.large.blue { background: url("images/gccsprite.png") -203px -1639px; }
.hpux.arrow-right.large.gray { background: url("images/gccsprite.png") -263px -1639px; }
.hpux.arrow-right.large.white { background: url("images/gccsprite.png") -323px -1639px; }
.hpux.arrow-left { width: 10px; height: 14px; }
.hpux.arrow-left.blue { background: url("images/gccsprite.png") -25px -803px; }
.hpux.arrow-left.gray { background: url("images/gccsprite.png") -85px -803px; }
.hpux.arrow-left.white { background: url("images/gccsprite.png") -145px -803px; }
.hpux.arrow-left.large { width: 14px; height: 22px; }
.hpux.arrow-left.large.blue { background: url("images/gccsprite.png") -203px -1699px; }
.hpux.arrow-left.large.gray { background: url("images/gccsprite.png") -263px -1699px; }
.hpux.arrow-left.large.white { background: url("images/gccsprite.png") -323px -1699px; }
.hpux.close { width: 16px; height: 16px; }
.hpux.close.blue { background: url("images/gccsprite.png") -22px -862px; }
.hpux.close.gray { background: url("images/gccsprite.png") -82px -862px; }
.hpux.close.white { background: url("images/gccsprite.png") -142px -862px; }
.hpux.close.large { width: 20px; height: 22px; }
.hpux.close.large.blue { background: url("images/gccsprite.png") -200px -139px; }
.hpux.close.large.gray { background: url("images/gccsprite.png") -260px -139px; }
.hpux.close.large.white { background: url("images/gccsprite.png") -320px -139px; }
.hpux.close.with-bg { width: 27px; height: 27px; }
.hpux.close.with-bg.blue { background: url("images/gccsprite.png") -197px -257px; }
.hpux.close.with-bg.gray { background: url("images/gccsprite.png") -257px -257px; }
.hpux.close.with-bg.white { background: url("images/gccsprite.png") -317px -257px; }
.hpux.edit { width: 20px; height: 20px; }
.hpux.edit.blue { background: url("images/gccsprite.png") -20px -920px; }
.hpux.edit.gray { background: url("images/gccsprite.png") -80px -920px; }
.hpux.edit.white { background: url("images/gccsprite.png") -140px -920px; }
.hpux.back { width: 24px; height: 22px; }
.hpux.back.blue { background: url("images/gccsprite.png") -18px -979px; }
.hpux.back.gray { background: url("images/gccsprite.png") -78px -979px; }
.hpux.back.white { background: url("images/gccsprite.png") -138px -979px; }
.hpux.plus { width: 14px; height: 14px; }
.hpux.plus.blue { background: url("images/gccsprite.png") -23px -1043px; }
.hpux.plus.gray { background: url("images/gccsprite.png") -83px -1043px; }
.hpux.plus.white { background: url("images/gccsprite.png") -143px -1043px; }
.hpux.plus.large { width: 20px; height: 20px; }
.hpux.plus.large.blue { background: url("images/gccsprite.png") -20px -1220px; }
.hpux.plus.large.gray { background: url("images/gccsprite.png") -80px -1220px; }
.hpux.plus.large.white { background: url("images/gccsprite.png") -140px -1220px; }
.hpux.minus { width: 14px; height: 4px; }
.hpux.minus.blue { background: url("images/gccsprite.png") -23px -1108px; }
.hpux.minus.gray { background: url("images/gccsprite.png") -83px -1108px; }
.hpux.minus.white { background: url("images/gccsprite.png") -143px -1108px; }
.hpux.minus.large { width: 20px; height: 6px; }
.hpux.minus.large.blue { background: url("images/gccsprite.png") -20px -1287px; }
.hpux.minus.large.gray { background: url("images/gccsprite.png") -80px -1287px; }
.hpux.minus.large.white { background: url("images/gccsprite.png") -140px -1287px; }
.hpux.share { width: 22px; height: 26px; }
.hpux.share.blue { background: url("images/gccsprite.png") -19px -1157px; }
.hpux.share.gray { background: url("images/gccsprite.png") -79px -1157px; }
.hpux.share.white { background: url("images/gccsprite.png") -139px -1157px; }
.hpux.clear { width: 20px; height: 20px; }
.hpux.clear.blue { background: url("images/gccsprite.png") -20px -1340px; }
.hpux.clear.gray { background: url("images/gccsprite.png") -80px -1340px; }
.hpux.clear.white { background: url("images/gccsprite.png") -140px -1340px; }
.hpux.clear.large { width: 26px; height: 26px; }
.hpux.clear.large.blue { background: url("images/gccsprite.png") -197px -197px; }
.hpux.clear.large.gray { background: url("images/gccsprite.png") -257px -197px; }
.hpux.clear.large.white { background: url("images/gccsprite.png") -317px -197px; }
.hpux.downloaded-to-cloud { width: 30px; height: 18px; }
.hpux.downloaded-to-cloud.blue { background: url("images/gccsprite.png") -15px -1401px; }
.hpux.downloaded-to-cloud.gray { background: url("images/gccsprite.png") -75px -1401px; }
.hpux.downloaded-to-cloud.white { background: url("images/gccsprite.png") -135px -1401px; }
.hpux.downloaded-to-cloud.green { background: url("images/gccsprite.png") -195px -1401px; }
.hpux.downloaded { width: 16px; height: 16px; }
.hpux.downloaded.blue { background: url("images/gccsprite.png") -22px -1462px; }
.hpux.downloaded.gray { background: url("images/gccsprite.png") -82px -1462px; }
.hpux.downloaded.white { background: url("images/gccsprite.png") -142px -1462px; }
.hpux.downloaded.green { background: url("images/gccsprite.png") -262px -1402px; }
.hpux.user-large { width: 30px; height: 34px; }
.hpux.user-large.blue { background: url("images/gccsprite.png") -15px -1513px; }
.hpux.user-large.gray { background: url("images/gccsprite.png") -75px -1513px; }
.hpux.user-large.white { background: url("images/gccsprite.png") -135px -1513px; }
.hpux.mac { width: 40px; height: 40px; }
.hpux.mac.blue { background: url("images/gccsprite.png") -10px -1571px; }
.hpux.mac.gray { background: url("images/gccsprite.png") -70px -1571px; }
.hpux.mac.white { background: url("images/gccsprite.png") -130px -1571px; }
.hpux.windows { width: 40px; height: 40px; }
.hpux.windows.blue { background: url("images/gccsprite.png") -9px -1630px; }
.hpux.windows.gray { background: url("images/gccsprite.png") -69px -1630px; }
.hpux.windows.white { background: url("images/gccsprite.png") -129px -1630px; }
.hpux.android { width: 40px; height: 40px; }
.hpux.android.blue { background: url("images/gccsprite.png") -10px -1690px; }
.hpux.android.gray { background: url("images/gccsprite.png") -70px -1690px; }
.hpux.android.white { background: url("images/gccsprite.png") -130px -1690px; }
.hpux.any, .hpux.generic { width: 40px; height: 40px; }
.hpux.any.blue, .hpux.generic.blue { background: url("images/gccsprite.png") -190px -550px; }
.hpux.any.gray, .hpux.generic.gray { background: url("images/gccsprite.png") -250px -550px; }
.hpux.any.white, .hpux.generic.white { background: url("images/gccsprite.png") -310px -550px; }
.hpux.star-small { width: 10px; height: 10px; }
.hpux.star-small.blue { background: url("images/gccsprite.png") -25px -1765px; }
.hpux.star-small.gray { background: url("images/gccsprite.png") -85px -1765px; }
.hpux.star-small.white { background: url("images/gccsprite.png") -145px -1765px; }
.hpux.star-medium { width: 18px; height: 18px; }
.hpux.star-medium.blue { background: url("images/gccsprite.png") -21px -1821px; }
.hpux.star-medium.gray { background: url("images/gccsprite.png") -81px -1821px; }
.hpux.star-medium.white { background: url("images/gccsprite.png") -141px -1821px; }
.hpux.star-large { width: 32px; height: 32px; }
.hpux.star-large.blue { background: url("images/gccsprite.png") -14px -1875px; }
.hpux.star-large.gray { background: url("images/gccsprite.png") -74px -1875px; }
.hpux.star-large.white { background: url("images/gccsprite.png") -134px -1875px; }
.hpux.dot { width: 10px; height: 10px; }
.hpux.dot.blue { background: url("images/gccsprite.png") -25px -1945px; }
.hpux.dot.black { background: url("images/gccsprite.png") -85px -1945px; }
.hpux.dot.gray { background: url("images/gccsprite.png") -145px -1945px; }
.hpux.popover-caret { width: 30px; height: 15px; }
.hpux.popover-caret.blue { background: url("images/gccsprite.png") -16px -2002px; }
.hpux.popover-caret.gray { background: url("images/gccsprite.png") -76px -2002px; }
.hpux.popover-caret.white { background: url("images/gccsprite.png") -136px -2002px; }
.hpux.filter { width: 16px; height: 19px; }
.hpux.filter.blue { background: url("images/gccsprite.png") -202px -81px; }
.hpux.filter.gray { background: url("images/gccsprite.png") -262px -81px; }
.hpux.filter.white { background: url("images/gccsprite.png") -322px -81px; }
.hpux.radio { width: 22px; height: 22px; }
.hpux.radio.blue { background: url("images/gccsprite.png") -199px -319px; }
.hpux.radio.blue.selected { background: url("images/gccsprite.png") -199px -379px; }
.hpux.radio.gray { background: url("images/gccsprite.png") -259px -319px; }
.hpux.radio.gray.selected { background: url("images/gccsprite.png") -259px -379px; }
.hpux.radio.white { background: url("images/gccsprite.png") -319px -319px; }
.hpux.radio.white.selected { background: url("images/gccsprite.png") -319px -379px; }
.hpux.checkbox { width: 23px; height: 23px; }
.hpux.checkbox.blue { background: url("images/gccsprite.png") -199px -439px; }
.hpux.checkbox.blue.selected { background: url("images/gccsprite.png") -199px -499px; }
.hpux.checkbox.gray { background: url("images/gccsprite.png") -259px -439px; }
.hpux.checkbox.gray.selected { background: url("images/gccsprite.png") -259px -499px; }
.hpux.checkbox.white { background: url("images/gccsprite.png") -319px -439px; }
.hpux.checkbox.white.selected { background: url("images/gccsprite.png") -319px -499px; }
.hpux.shopping-cart { width: 27px; height: 20px; }
.hpux.shopping-cart.blue { background: url("images/gccsprite.png") -197px -800px; }
.hpux.shopping-cart.gray { background: url("images/gccsprite.png") -257px -800px; }
.hpux.shopping-cart.white { background: url("images/gccsprite.png") -317px -800px; }
.hpux.info { width: 26px; height: 26px; background: url("images/gccsprite.png") -197px -1457px; }
.hpux.info.blue { background: url("images/gccsprite.png") -197px -1457px; }
.hpux.info.gray { background: url("images/gccsprite.png") -257px -1457px; }
.hpux.info.white { background: url("images/gccsprite.png") -317px -1457px; }
.hpux.dropdown-caret { width: 12px; height: 7px; }
.hpux.dropdown-caret.down { background: url("images/gccsprite.png") -204px -1527px; }
.hpux.dropdown-caret.down.blue { background: url("images/gccsprite.png") -204px -1527px; }
.hpux.dropdown-caret.down.gray { background: url("images/gccsprite.png") -264px -1527px; }
.hpux.dropdown-caret.down.white { background: url("images/gccsprite.png") -324px -1527px; }
.hpux.dropdown-caret.up { background: url("images/gccsprite.png") -204px -1587px; }
.hpux.dropdown-caret.up.blue { background: url("images/gccsprite.png") -204px -1587px; }
.hpux.dropdown-caret.up.gray { background: url("images/gccsprite.png") -264px -1587px; }
.hpux.dropdown-caret.up.white { background: url("images/gccsprite.png") -324px -1587px; }
.hpux.globe { width: 22px; height: 22px; }
.hpux.globe.blue { background: url("images/gccsprite.png") -199px -1999px; }
.hpux.globe.gray { background: url("images/gccsprite.png") -259px -1999px; }
.hpux.globe.white { background: url("images/gccsprite.png") -319px -1999px; }
.hpux.globe.large { width: 42px; height: 42px; }
.hpux.globe.large.blue { background: url("images/gccsprite.png") -189px -1749px; }
.hpux.globe.large.gray { background: url("images/gccsprite.png") -249px -1749px; }
.hpux.globe.large.white { background: url("images/gccsprite.png") -309px -1749px; }
.hpux.remote-wipe { width: 22px; height: 17px; }
.hpux.remote-wipe.blue { background: url("images/gccsprite.png") -199px -2063px; }
.hpux.remote-wipe.gray { background: url("images/gccsprite.png") -259px -2063px; }
.hpux.remote-wipe.white { background: url("images/gccsprite.png") -319px -2063px; }
.hpux.remote-wipe.large { width: 42px; height: 30px; }
.hpux.remote-wipe.large.blue { background: url("images/gccsprite.png") -189px -1818px; }
.hpux.remote-wipe.large.gray { background: url("images/gccsprite.png") -249px -1818px; }
.hpux.remote-wipe.large.white { background: url("images/gccsprite.png") -309px -1818px; }
.hpux.chart { width: 22px; height: 18px; }
.hpux.chart.blue { background: url("images/gccsprite.png") -199px -2181px; }
.hpux.chart.gray { background: url("images/gccsprite.png") -259px -2181px; }
.hpux.chart.white { background: url("images/gccsprite.png") -319px -2181px; }
.hpux.chart.line { width: 26px; height: 14px; }
.hpux.chart.line.blue { background: url("images/gccsprite.png") -197px -2303px; }
.hpux.chart.line.gray { background: url("images/gccsprite.png") -257px -2303px; }
.hpux.chart.line.white { background: url("images/gccsprite.png") -317px -2303px; }
.hpux.chart.pie { width: 20px; height: 20px; }
.hpux.chart.pie.blue { background: url("images/gccsprite.png") -200px -2420px; }
.hpux.chart.pie.gray { background: url("images/gccsprite.png") -260px -2420px; }
.hpux.chart.pie.white { background: url("images/gccsprite.png") -320px -2420px; }
.hpux.ribbon { width: 18px; height: 26px; }
.hpux.ribbon.blue { background: url("images/gccsprite.png") -201px -2477px; }
.hpux.ribbon.gray { background: url("images/gccsprite.png") -261px -2477px; }
.hpux.ribbon.white { background: url("images/gccsprite.png") -321px -2477px; }
.hpux.ribbon.large { width: 32px; height: 48px; }
.hpux.ribbon.large.blue { background: url("images/gccsprite.png") -194px -2526px; }
.hpux.ribbon.large.gray { background: url("images/gccsprite.png") -254px -2526px; }
.hpux.ribbon.large.white { background: url("images/gccsprite.png") -314px -2526px; }
.hpux.fat-stacks { width: 26px; height: 20px; }
.hpux.fat-stacks.blue { background: url("images/gccsprite.png") -197px -2240px; }
.hpux.fat-stacks.gray { background: url("images/gccsprite.png") -257px -2240px; }
.hpux.fat-stacks.white { background: url("images/gccsprite.png") -317px -2240px; }
.hpux.print { width: 20px; height: 20px; }
.hpux.print.blue { background: url("images/gccsprite.png") -200px -2360px; }
.hpux.print.gray { background: url("images/gccsprite.png") -260px -2360px; }
.hpux.print.white { background: url("images/gccsprite.png") -320px -2360px; }
.hpux.notification { width: 24px; height: 24px; }
.hpux.notification.success { background: url("images/gccsprite.png") -18px -2058px; }
.hpux.notification.alert { background: url("images/gccsprite.png") -78px -2059px; }
.hpux.notification.error { background: url("images/gccsprite.png") -78px -2059px; }
.hpux.notification-close { width: 14px; height: 14px; }
.hpux.notification-close.success { background: url("images/gccsprite.png") -23px -2123px; }
.hpux.notification-close.alert { background: url("images/gccsprite.png") -83px -2123px; }
.hpux.notification-close.error { background: url("images/gccsprite.png") -83px -2123px; }
.hpux.credit-card { width: 30px; height: 20px; }
.hpux.credit-card.mastercard { background: url("images/gccsprite.png") -195px -620px; }
.hpux.credit-card.mastercard.gray { background: url("images/gccsprite.png") -255px -620px; }
.hpux.credit-card.mastercard.white { background: url("images/gccsprite.png") -315px -620px; }
.hpux.credit-card.mastercard.large { width: 86px; height: 53px; background: url("images/gccsprite.png") -227px -844px; }
.hpux.credit-card.mastercard.large.gray { background: url("images/gccsprite.png") -227px -904px; }
.hpux.credit-card.mastercard.large.white { background: url("images/gccsprite.png") -227px -964px; }
.hpux.credit-card.visa { background: url("images/gccsprite.png") -195px -680px; }
.hpux.credit-card.visa.gray { background: url("images/gccsprite.png") -255px -680px; }
.hpux.credit-card.visa.white { background: url("images/gccsprite.png") -315px -680px; }
.hpux.credit-card.visa.large { width: 85px; height: 28px; background: url("images/gccsprite.png") -227px -1036px; }
.hpux.credit-card.visa.large.gray { background: url("images/gccsprite.png") -227px -1096px; }
.hpux.credit-card.visa.large.white { background: url("images/gccsprite.png") -227px -1156px; }
.hpux.credit-card.american-express { background: url("images/gccsprite.png") -195px -740px; }
.hpux.credit-card.american-express.gray { background: url("images/gccsprite.png") -255px -740px; }
.hpux.credit-card.american-express.white { background: url("images/gccsprite.png") -315px -740px; }
.hpux.credit-card.american-express.large { width: 62px; height: 42px; background: url("images/gccsprite.png") -239px -1209px; }
.hpux.credit-card.american-express.large.gray { background: url("images/gccsprite.png") -239px -1269px; }
.hpux.credit-card.american-express.large.white { background: url("images/gccsprite.png") -239px -1329px; }
.hpux.credit-card-block { width: 161px; height: 100px; background: url("images/gccsprite.png") -9px -2170px; }
.hpux.paypal-block { width: 161px; height: 100px; background: url("images/gccsprite.png") -9px -2291px; }
.hpux.starset.large { width: 171px; height: 31px; }
.hpux.starset.large.zero { background: url("images/gccsprite.png") -5px -2425px; }
.hpux.starset.large.one { background: url("images/gccsprite.png") -5px -2485px; }
.hpux.starset.large.two { background: url("images/gccsprite.png") -5px -2545px; }
.hpux.starset.large.three { background: url("images/gccsprite.png") -5px -2605px; }
.hpux.starset.large.four { background: url("images/gccsprite.png") -5px -2665px; }
.hpux.starset.large.five { background: url("images/gccsprite.png") -5px -2725px; }
.hpux.starset.medium { width: 86px; height: 16px; }
.hpux.starset.medium.zero { background: url("images/gccsprite.png") -47px -2792px; }
.hpux.starset.medium.one { background: url("images/gccsprite.png") -47px -2852px; }
.hpux.starset.medium.two { background: url("images/gccsprite.png") -47px -2912px; }
.hpux.starset.medium.three { background: url("images/gccsprite.png") -47px -2972px; }
.hpux.starset.medium.four { background: url("images/gccsprite.png") -47px -3032px; }
.hpux.starset.medium.five { background: url("images/gccsprite.png") -47px -3092px; }
.hpux.starset.small { width: 52px; height: 10px; }
.hpux.starset.small.zero { background: url("images/gccsprite.png") -64px -3156px; }
.hpux.starset.small.zero.selected { background: url("images/gccsprite.png") -64px -3515px; }
.hpux.starset.small.one { background: url("images/gccsprite.png") -64px -3216px; }
.hpux.starset.small.one.selected { background: url("images/gccsprite.png") -64px -3575px; }
.hpux.starset.small.two { background: url("images/gccsprite.png") -64px -3276px; }
.hpux.starset.small.two.selected { background: url("images/gccsprite.png") -64px -3635px; }
.hpux.starset.small.three { background: url("images/gccsprite.png") -64px -3336px; }
.hpux.starset.small.three.selected { background: url("images/gccsprite.png") -64px -3695px; }
.hpux.starset.small.four { background: url("images/gccsprite.png") -64px -3396px; }
.hpux.starset.small.four.selected { background: url("images/gccsprite.png") -64px -3755px; }
.hpux.starset.small.five { background: url("images/gccsprite.png") -64px -3456px; }
.hpux.starset.small.five.selected { background: url("images/gccsprite.png") -64px -3815px; }
.hpux.powered-by-hp { width: 71px; height: 20px; background: url("images/gccsprite.png") -55px -3870px; }
.hpux.validation { width: 24px; height: 24px;}
.hpux.validation.success { background: url("images/gccsprite.png") -198px -18px; }
.hpux.validation.alert { background: url("images/gccsprite.png") -258px -18px; }
.hpux.validation.error { background: url("images/gccsprite.png") -318px -18px; }


.hpux.notification, .hpux.validation {
	/** EDITED by Tom **/
	/** margin: 7px 5px 7px 5px; **/
	margin: 5px 0 5px 10px;
}
