 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
<title>Account Management</title>
<link rel="stylesheet" type="text/css" href="css/styles.css"/>

<!-- Fav and touch icons -->
<link rel="shortcut icon" href="img/favicon.ico">
 
<!-- Le HTML5 shim, for IE6-8 supporting of HTML5 elements -->
 
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<script src="js/iehtml5elements.js"></script>
<![endif]-->
 
</head>
 
<body>
 
<!-- ================================================== CONTAINER ================================================== -->
<!--Insert Code below-->
<section>
    <div class="constrainedwidth">
	    <div class="spacerhead firstchild lastchild">

	        <div class="notificationbar alertnotification">
	          	<div class="notificationiconcontainer">
	            	<div class="notificationicon alerticon"></div>
	          	</div>
	            	<p class="notificationtext"><strong>Attention!</strong> Please check your mail account for confirmation info. </p>
	              	<div class="notificationiconcontainer">
	              	<div class="notificationicon alertcloseicon"></div>
	          	</div>
	        </div>

	    </div>
    </div>
</section>
  
<div class="clear"></div>

<section>
	<div class="constrainedwidth">
		<div class="spacer firstchild lastchild">
			
			<section>
				<div class="constrainedwidth">
			        <div class="gridonehalf">
			            <div class="spacerSub firstchild ignoreborder">
			            	<h3 class="grey ignoremargin">Company Sign Up Using <span class="blue">HP Web<sup><small>ID</small></sup></span></h3>
			            </div>
			        </div>
			        <div class="gridonehalf">
			            <div class="spacerSub lastchild ignoreborder">
			            	<span class="pull-right addmargintop grey"><a href="#">Log in</a> using HP WEB ID</span>
			            </div>
			        </div>
				</div>
			</section>

			<div class="clear"></div> <hr>

			<p class="grey">Create a HP Web ID account</p>

			<!-- ========== start form ========= -->
			<div class="clear"></div>

			<div class="formfieldcontainer formwithvalidation">
				<label class="formlabel">
					<span class="formlabeltext">Company Name:*</span>
					<div class="mediaformcontainer">
						<div class="media">
							<span class="pull-right">
								<div class="tooltipcontainer textNoShadow">
									<a title="" data-placement="left" data-toggle="tooltip" class="displayinlineblock pull-right" type="button" data-original-title="Tooltip content goes here.">
                    					<figure class="hpux validation success"></figure>
		                    		</a>
		                    	</div>
							</span>
							<div class="media-body">
								<span class="formlabelinput">
									<input class="formlabelplace" placeholder="Global Information Limited.">
								</span>
							</div>
						</div>
					</div>
				</label>
			</div>
			
			<div class="clear"></div>

			<div class="formfieldcontainer">
				<label class="formlabel">
					<span class="formlabeltext">Country</span>
					<span class="formlabelinput ignorepadding">
						<select class="search_selection_options" tabindex="7">
							<option value="select language">None</option>
							<optgroup label="United States">
								<option value="california">California</option>
								<option value="texas">Texas</option>
								<option value="seattle">Seattle</option>
								<option value="new york">New York</option>
							</optgroup>
							<option value="United Kingdom">United Kingdom</option>
							<option value="Afghanistan">Afghanistan</option>
							<option value="Aland Islands">Aland Islands</option>
							<option value="Albania">Albania</option>
							<option value="India">India</option>
							<option value="Pakistan">Pakistan</option>
						</select>
					</span>
				</label>
			</div>
				 
			<div class="clear"></div>


			<div class="formfieldcontainer formwithvalidation">
				<label class="formlabel">
					<span class="formlabeltext">Address 1:*</span>
					<div class="mediaformcontainer">
						<div class="media">
							<span class="pull-right">
								<div class="tooltipcontainer textNoShadow">
									<a title="" data-placement="left" data-toggle="tooltip" class="displayinlineblock pull-right" type="button" data-original-title="Tooltip content goes here.">
                    					<figure class="hpux validation success"></figure>
		                    		</a>
		                    	</div>
							</span>
							<div class="media-body">
								<span class="formlabelinput">
									<input class="formlabelplace" placeholder="Address 1.">
								</span>
							</div>
						</div>
					</div>
				</label>
			</div>
			
			<div class="clear"></div>

			<div class="formfieldcontainer formwithvalidation">
				<label class="formlabel">
					<span class="formlabeltext">Address 2:*</span>
					<div class="mediaformcontainer">
						<div class="media">
							<span class="pull-right">
								<div class="tooltipcontainer textNoShadow">
									<a title="" data-placement="left" data-toggle="tooltip" class="displayinlineblock pull-right" type="button" data-original-title="Tooltip content goes here.">
                    					<figure class="hpux validation success"></figure>
		                    		</a>
		                    	</div>
							</span>
							<div class="media-body">
								<span class="formlabelinput">
									<input class="formlabelplace" placeholder="Address 2.">
								</span>
							</div>
						</div>
					</div>
				</label>
			</div>
			
			<div class="clear"></div>

			<div class="formfieldcontainer formwithvalidation">
				<label class="formlabel">
					<span class="formlabeltext">Address 3:*</span>
					<div class="mediaformcontainer">
						<div class="media">
							<span class="pull-right">
								<div class="tooltipcontainer textNoShadow">
									<a title="" data-placement="left" data-toggle="tooltip" class="displayinlineblock pull-right" type="button" data-original-title="Tooltip content goes here.">
                    					<figure class="hpux validation success"></figure>
		                    		</a>
		                    	</div>
							</span>
							<div class="media-body">
								<span class="formlabelinput">
									<input class="formlabelplace" placeholder="Address 3.">
								</span>
							</div>
						</div>
					</div>
				</label>
			</div>
			
			<div class="clear"></div>

			<div class="formfieldcontainer">
				<label class="formlabel">
					<span class="formlabeltext">State / Province:*</span>
					<span class="formlabelinput ignorepadding">
						<select class="search_selection_options" tabindex="7">
							<option value="select language">None</option>
							<optgroup label="United States">
								<option value="california">California</option>
								<option value="texas">Texas</option>
								<option value="seattle">Seattle</option>
								<option value="new york">New York</option>
							</optgroup>
							<option value="United Kingdom">United Kingdom</option>
							<option value="Afghanistan">Afghanistan</option>
							<option value="Aland Islands">Aland Islands</option>
							<option value="Albania">Albania</option>
							<option value="India">India</option>
							<option value="Pakistan">Pakistan</option>
						</select>
					</span>
				</label>
			</div>
				 
			<div class="clear"></div>

			<div class="formfieldcontainer formwithvalidation">
				<label class="formlabel">
					<span class="formlabeltext">City / Town:*</span>
					<div class="mediaformcontainer">
						<div class="media">
							<span class="pull-right">
								<div class="tooltipcontainer textNoShadow">
									<a title="" data-placement="left" data-toggle="tooltip" class="displayinlineblock pull-right" type="button" data-original-title="Tooltip content goes here.">
                    					<figure class="hpux validation success"></figure>
		                    		</a>
		                    	</div>
							</span>
							<div class="media-body">
								<span class="formlabelinput">
									<input class="formlabelplace" placeholder="City / Town.">
								</span>
							</div>
						</div>
					</div>
				</label>
			</div>
			
			<div class="clear"></div>

			<div class="formfieldcontainer formwithvalidation">
				<label class="formlabel">
					<span class="formlabeltext">Postal Code:*</span>
					<div class="gridonethird">
						<div class="mediaformcontainer">
							<div class="media">
								<span class="pull-right">
									<div class="tooltipcontainer textNoShadow">
									<a title="" data-placement="left" data-toggle="tooltip" class="displayinlineblock pull-right" type="button" data-original-title="Tooltip content goes here.">
                    					<figure class="hpux validation success"></figure>
		                    		</a>
		                    	</div>
								</span>
								<div class="media-body">
									<span class="formlabelinput">
										<input class="formlabelplace" placeholder="Postal Code.">
									</span>
								</div>
							</div>
						</div>
					</div>
				</label>
			</div>
			
			<div class="clear"></div>

			<div class="formfieldcontainer formwithvalidation">
				<label class="formlabel">
					<span class="formlabeltext">Phone:*</span>
					<div class="gridonethird">
						<div class="mediaformcontainer">
							<div class="media">
								<span class="pull-right">
									<div class="tooltipcontainer textNoShadow">
									<a title="" data-placement="left" data-toggle="tooltip" class="displayinlineblock pull-right" type="button" data-original-title="Tooltip content goes here.">
                    					<figure class="hpux validation success"></figure>
		                    		</a>
		                    	</div>
								</span>
								<div class="media-body">
									<span class="formlabelinput">
										<input class="formlabelplace" placeholder="Phone.">
									</span>
								</div>
							</div>
						</div>
					</div>
				</label>
			</div>
			
			<div class="clear"></div>

			<div class="formfieldcontainer formwithvalidation">
				<label class="formlabel">
					<span class="formlabeltext">Email:*</span>
					<div class="mediaformcontainer">
						<div class="media">
							<span class="pull-right">
								<div class="tooltipcontainer textNoShadow">
									<a title="" data-placement="left" data-toggle="tooltip" class="displayinlineblock pull-right" type="button" data-original-title="Tooltip content goes here.">
                    					<figure class="hpux validation success"></figure>
		                    		</a>
		                    	</div>
							</span>
							<div class="media-body">
								<span class="formlabelinput">
									<input class="formlabelplace" placeholder="Email.">
								</span>
							</div>
						</div>
					</div>
				</label>
			</div>
			
			<div class="clear"></div>


			<div class="formfieldcontainer">
          <label class="formlabel">
            <span class="checkboxwrapper">
              <input id="terms" type="checkbox">
                <label for="terms">
                  <span class="addpaddingleft"></span>
                I have read and accept the
                </label>
            <span class="checkboxtext"><a href="javascript:;">Terms of Service</a></span>

            <span class="pull-right addmarginbottom">
              <p><small>What is an <a href="#webID" data-toggle="modal">HP Web ID?</a></small></p>
            </span>

            </span>
          </label>
        </div>

        <div class="clear"></div>

        <div class="formfooter">
          <span class="displayinlineblock addmargin grey addpaddingtop">
            <p><a href="001.html">Sign up </a>as a Normal User</p>
          </span>
          <div class="footertext buttonwrapper ignoremarginleftright">
            <button class="secondarybutton addmarginright">Cancel </button>
            <button class="primarybutton" href="001b.html">Next </button>
          </div>
        </div>

        <div class="clear"></div>

		</div>
	</div>
</section>

<div class="clear"></div>

<!-- Footer -->
<section>
	<div class="constrainedwidth">
		<a href="001a.html">prev</a> | <a href="002.html">next</a>
	</div>
</section>
<!-- END Footer -->

<!--Insert Code above-->
<!-- ================================================== END CONTAINER ================================================== -->

<!-- ====================================================== Modals ====================================================== -->
<!-- HP Web ID Modal -->
<div class="modal modalstandard fade" id="webID">
	<div class="modal-dialog">
		<div class="modalcontainer">
			<div class="modalheader">
				<a href="javascript:;" class="modallogocontainer">
					<span class="modallogotext"> HP Web ID </span>
				</a>
				<!--<ul class="modalmainnavright popovercontainer">
					<li><a class="modal_icon_help" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" data-placement="left" data-toggle="popover" data-container="body"><span></span></a></li>
				</ul>-->
			</div>
			<div class="modalcontentwrapper maxcontentheight">
				<div class="modalcontent">
					<h3 class="grey ignoremargin">What is an HP Web ID ?</h3>
						<p class="grey">An HP Web ID account is a single email and password used to log into all websites and mobile apps
						that use HP Web ID. Our goal is to make websites and mobile apps easier and safer to use. Instead of
						having to remember unique usernames and passwords for each site, just remember your HP Web ID,
						and you're in. HP Web ID simplifies your life and ensures your security and privacy.</p>
						<h5 class="grey">HP Web ID is easy</h5>
						<p class="grey">HP Web ID stores your country and language preferences so that each app automatically adopts your
						settings when you use them.</p>
						<h5 class="grey">HP Web ID is secure</h5>
						<p class="grey">The HP Web ID login screen is presented directly by HP so no one, not even the app or website that
						you are trying to use, ever sees your password. And, HP Web ID follows strict HP privacy policies to
						ensure your information remains secure.</p>
				</div>
			</div>
			<div class="modalfooter">
				<div class="footertext buttonwrapper">
					<button class="secondarybutton" data-dismiss="modal">Close </button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END HP Web ID Modal -->

<!-- ==================================================== END Modals ==================================================== -->
 
<!-- SCRIPTING (ALWAYS PUT AT THE END FOR FASTER LOADING OF PAGE)
==================================================================== -->
 
<script src="js/jquery.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script src="js/code.js"></script>
<script src="js/datepicker.js"></script>
<script src="js/tooltip.js"></script>
<script src="js/popover.js"></script>
<script src="js/tab.js"></script>
<script src="js/scrollspy.js"></script>
<script src="js/stickyscrollspy.js"></script>
<script src="js/dropdown.js"></script>
<script src="js/dropdownheader.js"></script>
<script src="js/carousel.js"></script>
<script src="js/accordion.js"></script>
<script src="js/modal.js"></script>
<script src="js/customselect.js"></script>
<script src="js/multiselect.js"></script>
<script src="js/multilevelselect.js"></script>
<script src="js/imagesselectoption.js"></script>
<script src="js/section.js"></script>
<script src="js/jquery.sortElements.js"></script>
<script src="js/stickyheading.js"></script>
<script src="js/overlay.js"></script>
<script src="js/backgroundfocus.js"></script>
<script src="js/jquery.placeholder.js"></script>
<script src="js/ie.js"></script>
<script src="js/localscroll.js"></script>
<script src="js/scrollTo-min.js"></script>
<script src="js/imageslider.js"></script>
<script src="js/prettify.js"></script>
 
<!-- END SCRIPTING
================================================== -->
</body>
</html>