 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
<title>Account Management</title>
<link rel="stylesheet" type="text/css" href="css/styles.css"/>

<!-- Fav and touch icons -->
<link rel="shortcut icon" href="img/favicon.ico">
 
<!-- Le HTML5 shim, for IE6-8 supporting of HTML5 elements -->
 
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<script src="js/iehtml5elements.js"></script>
<![endif]-->
 
</head>
 
<body>
 
<!-- ================================================== CONTAINER ================================================== -->
<!--Insert Code below-->
<section>
    <div class="constrainedwidth">
	    <div class="spacerhead firstchild lastchild">

	    	<div class="notificationbar successnotification">
          		<div class="notificationiconcontainer">
            		<div class="notificationicon successicon"></div>
          		</div>
                	<p class="notificationtext"><strong>Success!</strong> Your user info has been finished.</p>
                  	<div class="notificationiconcontainer">
                    	<div class="notificationicon successcloseicon"></div>
                  	</div>
            	</div>
      		</div>

      		<div class="spacerhead firstchild lastchild">
        		<div class="panel">Company Profile</div>
      		</div>

	    </div>
    </div>
</section>
  
<div class="clear"></div>

<section>
    <div class="constrainedwidth">
	    <div class="spacer firstchild lastchild">

	    	<div class="mediacontainer">
          		<div class="media">
            		<a class="pull-left" href="#userInfo" data-toggle="modal">
              			<img src="img/128x128.png" alt="128x128" class="media-object-lg img-rounded">
            		</a>

            		<div class="tooltipcontainer textNoShadow ignoremargin pull-right">
              			<a href="#userInfo" data-toggle="modal" data-placement="left" data-toggle="tooltip" class="btn btn-icon displayinlineblock pull-right" type="button" data-original-title="Tooltip content goes here.">
                			<figure class="hpux gray edit ignoremargin"></figure>
              			</a>
            		</div>

              <div class="media-body">

                <div class="clear"></div>

                <table class="am_table profileTable">
                  <thead>
                    <tr>
                      <th>Venture Industries</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="">Country:</td>
                      <td class="">United States</td>
                    </tr>
                    <tr>
                      <td class="">Address 1:</td>
                      <td class="">1490 16th St, Denver, CO</td>
                    </tr>
                    <tr>
                      <td class="">Address 2:</td>
                      <td class="">N/A</td>
                    </tr>
                    <tr>
                      <td class="">Address 3:</td>
                      <td class="">N/A</td>
                    </tr>
                    <tr>
                      <td class="">State / Province:</td>
                      <td class="">Colorado</td>
                    </tr>
                    <tr>
                      <td class="">City / Town:</td>
                      <td class="">Denver</td>
                    </tr>
                    <tr>
                      <td class="">Postal Code:</td>
                      <td class="">80202</td>
                    </tr>
                    <tr>
                      <td class="">Phone:</td>
                      <td class="">1111111 - 121</td>
                    </tr>
                    <tr>
                      <td class="">Email:</td>
                      <td class="">service@global.com</td>
                    </tr>
                  </tbody>
                </table>

            </div>
          </div>   
        </div>
	       

	    </div>
    </div>
</section>
  
<div class="clear"></div>

<!-- Footer -->
<section>
  <div class="constrainedwidth">
    <a href="002.html">prev</a> | <a href="004.html">next</a>
  </div>
</section>
<!-- END Footer -->

 
<!--Insert Code above-->
<!-- ================================================== END CONTAINER ================================================== -->

<!-- ====================================================== Modals ====================================================== -->
  
  <!-- User Info -->
  <div class="modal overflowscroll fade" id="userInfo">
    <div class="modal-dialog">
      <div class="modalcontainer">
        <div class="modalheader">
          <a href="javascript:;" class="modallogocontainer">
            <span class="modallogotext"> Edit Company Information </span>
          </a>
            <!-- <ul class="modalmainnavright">
              <li><a class="icon_close" data-dismiss="modal"><span></span></a></li>
            </ul> -->
        </div>
        <div class="modalcontentwrapper">
          <div class="modalcontent">

          <!-- ========== start form ========= -->
          <div class="formfieldcontainer formwithvalidation">
            <label class="formlabel">
              <span class="formlabeltext">Image:</span>
              <div class="mediaformcontainer">
                <div class="media">
                  <span class="pull-right">
                    <div class="tooltipcontainer textNoShadow">
                      <a title="" data-placement="left" data-toggle="tooltip" class="displayinlineblock pull-right" type="button" data-original-title="Tooltip content goes here.">
                        <figure class="hpux validation success"></figure>
                      </a>
                    </div>
                  </span>
                  <div class="media-body">
                    <span class="formlabelinput dashedborder">
                      
                              <div class="fileuploadcontainer verticalaligncontainer">
                                <div class="verticalalign">
                                  <div class="grey addmargintop">Drag and drop file(s) here</div>
                                  <div class="clear"></div>
                                  <div class="grey addmargin">- or -</div>
                                  <div class="clear"></div>
                                  <button class="secondarybutton addmarginbottom">Click to browse your computer</button>
                                    <div class="progress">
                                      <div class="progress-bar basicprogresswidth">
                                      </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>  
                              </div>

                    </span>
                  </div>
                </div>
              </div>
            </label>
          </div>

          <div class="clear"></div>

          <div class="formfieldcontainer formwithvalidation">
            <label class="formlabel">
              <span class="formlabeltext">Company Name:*</span>
              <div class="mediaformcontainer">
                <div class="media">
                  <span class="pull-right">
                    <div class="tooltipcontainer textNoShadow">
                      <a title="" data-placement="left" data-toggle="tooltip" class="displayinlineblock pull-right" type="button" data-original-title="Tooltip content goes here.">
                        <figure class="hpux validation success"></figure>
                      </a>
                    </div>
                  </span>
                  <div class="media-body">
                    <span class="formlabelinput">
                      <input class="formlabelplace" placeholder="first name">
                    </span>
                  </div>
                </div>
              </div>
            </label>
          </div>

          <div class="clear"></div>

          <div class="formfieldcontainer">
            <label class="formlabel">
              <span class="formlabeltext">Country:*
                <span class="pull-right addmarginright">
                  <div class="tooltipcontainer textNoShadow">
                    <a title="" data-placement="left" data-toggle="tooltip" class="displayinlineblock pull-right" type="button" data-original-title="Tooltip content goes here.">
                      <figure class="hpux notification error"></figure>
                    </a>
                  </div>
                </span>
              </span>
              <span class="formlabelinput ignorepadding">
                <select class="search_selection_options" tabindex="7">
                  <option value="select language">None</option>
                  <optgroup label="United States">
                    <option value="california">California</option>
                    <option value="texas">Texas</option>
                    <option value="seattle">Seattle</option>
                    <option value="new york">New York</option>
                  </optgroup>
                  <option value="United Kingdom">United Kingdom</option>
                  <option value="Afghanistan">Afghanistan</option>
                  <option value="Aland Islands">Aland Islands</option>
                  <option value="Albania">Albania</option>
                  <option value="India">India</option>
                  <option value="Pakistan">Pakistan</option>
                </select>
              </span>
            </label>
          </div>
             
          <div class="clear"></div>

          <div class="formfieldcontainer formwithvalidation">
            <label class="formlabel">
              <span class="formlabeltext">Address 1</span>
              <div class="mediaformcontainer">
                <div class="media">
                  <span class="pull-right">
                    <div class="tooltipcontainer textNoShadow">
                      <a title="" data-placement="left" data-toggle="tooltip" class="displayinlineblock pull-right" type="button" data-original-title="Tooltip content goes here.">
                        <figure class="hpux validation success"></figure>
                      </a>
                    </div>
                  </span>
                  <div class="media-body">
                    <span class="formlabelinput">
                      <input class="formlabelplace" placeholder="Address 1">
                    </span>
                  </div>
                </div>
              </div>
            </label>
          </div>
          
          <div class="clear"></div>

          <div class="formfieldcontainer formwithvalidation">
            <label class="formlabel">
              <span class="formlabeltext">Address 2:</span>
              <div class="mediaformcontainer">
                <div class="media">
                  <span class="pull-right">
                    <div class="tooltipcontainer textNoShadow">
                      <a title="" data-placement="left" data-toggle="tooltip" class="displayinlineblock pull-right" type="button" data-original-title="Tooltip content goes here.">
                        <figure class="hpux validation success"></figure>
                      </a>
                    </div>
                  </span>
                  <div class="media-body">
                    <span class="formlabelinput">
                      <input class="formlabelplace" placeholder="Address 2">
                    </span>
                  </div>
                </div>
              </div>
            </label>
          </div>
          
          <div class="clear"></div>

          <div class="formfieldcontainer formwithvalidation">
            <label class="formlabel">
              <span class="formlabeltext">Address 3:</span>
              <div class="mediaformcontainer">
                <div class="media">
                  <span class="pull-right">
                    <div class="tooltipcontainer textNoShadow">
                      <a title="" data-placement="left" data-toggle="tooltip" class="displayinlineblock pull-right" type="button" data-original-title="Tooltip content goes here.">
                        <figure class="hpux validation success"></figure>
                      </a>
                    </div>
                  </span>
                  <div class="media-body">
                    <span class="formlabelinput">
                      <input class="formlabelplace" placeholder="Address 3">
                    </span>
                  </div>
                </div>
              </div>
            </label>
          </div>
          
          <div class="clear"></div>

          <div class="formfieldcontainer">
            <label class="formlabel">
              <span class="formlabeltext">State / Province:*</span>
              <span class="formlabelinput ignorepadding">
                <select class="search_selection_options" tabindex="7">
                  <option value="select language">None</option>
                  <optgroup label="United States">
                    <option value="california">California</option>
                    <option value="texas">Texas</option>
                    <option value="seattle">Seattle</option>
                    <option value="new york">New York</option>
                  </optgroup>
                  <option value="United Kingdom">United Kingdom</option>
                  <option value="Afghanistan">Afghanistan</option>
                  <option value="Aland Islands">Aland Islands</option>
                  <option value="Albania">Albania</option>
                  <option value="India">India</option>
                  <option value="Pakistan">Pakistan</option>
                </select>
              </span>
            </label>
          </div>
             
          <div class="clear"></div>


          <div class="formfieldcontainer formwithvalidation">
            <label class="formlabel">
              <span class="formlabeltext">City / Town:*</span>
              <div class="mediaformcontainer">
                <div class="media">
                  <span class="pull-right">
                    <div class="tooltipcontainer textNoShadow">
                      <a title="" data-placement="left" data-toggle="tooltip" class="displayinlineblock pull-right" type="button" data-original-title="Tooltip content goes here.">
                        <figure class="hpux validation success"></figure>
                      </a>
                    </div>
                  </span>
                  <div class="media-body">
                    <span class="formlabelinput">
                      <input class="formlabelplace" placeholder="confirm email">
                    </span>
                  </div>
                </div>
              </div>
            </label>
          </div>
          
          <div class="clear"></div>

          <div class="formfieldcontainer formwithvalidation">
            <label class="formlabel">
              <span class="formlabeltext">Postal Code:*</span>
              <div class="mediaformcontainer">
                <div class="media">
                  <span class="pull-right">
                    <div class="tooltipcontainer textNoShadow">
                      <a title="" data-placement="left" data-toggle="tooltip" class="displayinlineblock pull-right" type="button" data-original-title="Tooltip content goes here.">
                        <figure class="hpux validation success"></figure>
                      </a>
                    </div>
                  </span>
                  <div class="media-body">
                    <span class="formlabelinput">
                      <input class="formlabelplace" placeholder="postal code">
                    </span>
                  </div>
                </div>
              </div>
            </label>
          </div>
          
          <div class="clear"></div>

          <div class="formfieldcontainer formwithvalidation">
            <label class="formlabel">
              <span class="formlabeltext">Phone:*</span>
              <div class="mediaformcontainer">
                <div class="media">
                  <span class="pull-right">
                    <div class="tooltipcontainer textNoShadow">
                      <a title="" data-placement="left" data-toggle="tooltip" class="displayinlineblock pull-right" type="button" data-original-title="Tooltip content goes here.">
                        <figure class="hpux validation success"></figure>
                      </a>
                    </div>
                  </span>
                  <div class="media-body">
                    <span class="formlabelinput">
                      <input class="formlabelplace" placeholder="phone">
                    </span>
                  </div>
                </div>
              </div>
            </label>
          </div>
          
          <div class="clear"></div>

          <div class="formfieldcontainer formwithvalidation">
            <label class="formlabel">
              <span class="formlabeltext">Email:*</span>
              <div class="mediaformcontainer">
                <div class="media">
                  <span class="pull-right">
                    <div class="tooltipcontainer textNoShadow">
                      <a title="" data-placement="left" data-toggle="tooltip" class="displayinlineblock pull-right" type="button" data-original-title="Tooltip content goes here.">
                        <figure class="hpux validation success"></figure>
                      </a>
                    </div>
                  </span>
                  <div class="media-body">
                    <span class="formlabelinput">
                      <input class="formlabelplace" placeholder="email">
                    </span>
                  </div>
                </div>
              </div>
            </label>
          </div>
          
          <div class="clear"></div>

          <span class="red font-12"><p>Fields with * (asterisks) are mandatory.</p></span>

          </div>
        </div>
        <div class="modalfooter">
          <div class="footertext buttonwrapper">
            <button type="button" class="secondarybutton addmarginright" data-dismiss="modal">Close</button>
            <button type="button" class="primarybutton">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- needed for the fade in -->
  </div>
<!-- End Modal -->
<!-- ====================================================== END Modals ====================================================== -->
 
<!-- SCRIPTING (ALWAYS PUT AT THE END FOR FASTER LOADING OF PAGE)
==================================================================== -->
 
<script src="js/jquery.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script src="js/code.js"></script>
<script src="js/datepicker.js"></script>
<script src="js/tooltip.js"></script>
<script src="js/popover.js"></script>
<script src="js/tab.js"></script>
<script src="js/scrollspy.js"></script>
<script src="js/stickyscrollspy.js"></script>
<script src="js/dropdown.js"></script>
<script src="js/dropdownheader.js"></script>
<script src="js/carousel.js"></script>
<script src="js/accordion.js"></script>
<script src="js/modal.js"></script>
<script src="js/customselect.js"></script>
<script src="js/multiselect.js"></script>
<script src="js/multilevelselect.js"></script>
<script src="js/imagesselectoption.js"></script>
<script src="js/section.js"></script>
<script src="js/jquery.sortElements.js"></script>
<script src="js/stickyheading.js"></script>
<script src="js/overlay.js"></script>
<script src="js/backgroundfocus.js"></script>
<script src="js/jquery.placeholder.js"></script>
<script src="js/ie.js"></script>
<script src="js/localscroll.js"></script>
<script src="js/scrollTo-min.js"></script>
<script src="js/imageslider.js"></script>
<script src="js/prettify.js"></script>
 
<!-- END SCRIPTING
================================================== -->
</body>
</html>