 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
<title>Account Management</title>
<link rel="stylesheet" type="text/css" href="css/styles.css"/>

<!-- Fav and touch icons -->
<link rel="shortcut icon" href="img/favicon.ico">
 
<!-- Le HTML5 shim, for IE6-8 supporting of HTML5 elements -->
 
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<script src="js/iehtml5elements.js"></script>
<![endif]-->
 
</head>
 
<body>
 
<!-- ================================================== CONTAINER ================================================== -->
<!--Insert Code below-->
<section>
    <div class="constrainedwidth">
	    <div class="spacerhead firstchild lastchild">

	        <div class="notificationbar alertnotification">
          		<div class="notificationiconcontainer">
            		<div class="notificationicon alerticon"></div>
          		</div>
                	<p class="notificationtext"><strong>Attention!</strong> You haven't setup payment method yet.</p>
                  	<div class="notificationiconcontainer">
                    	<div class="notificationicon alertcloseicon"></div>
                  	</div>
            	</div>
      		</div>

      		<div class="spacerhead firstchild lastchild">
        		<div class="panel">Order Summary</div>
      		</div>

	    </div>
    </div>
</section>
  
<div class="clear"></div>

<section>
    <div class="constrainedwidth">
	    <div class="spacer firstchild lastchild">

	    	<table class="basictable">
				<tbody>
				<tr>
				<td class="text-left addpaddingleft">
					<div class="buttonwrapperTable">
						<div class="displayinlineblock"><figure class="hpux large blue ribbon ignoremargin"></figure></div>
							<div class="displayinlineblock">
								<ul class="tableList font-12">
									<li><a href="#"><strong>Bhaskar Paid App</strong></a></li>
									<li>Global Information...</li>
									<li>Android / 2.3 M / V1.0.1</li>
								</ul>
							</div>
						</div>
					</td>
				<td class="text-right addpaddingright">Price (USD): $ 2.99</td>
				</tr>
				<tr>
				<td class="text-left addpaddingleft">
					<div class="buttonwrapperTable">
						<div class="displayinlineblock"><figure class="hpux large blue ribbon ignoremargin"></figure></div>
							<div class="displayinlineblock">
								<ul class="tableList font-12">
									<li><a href="#"><strong>Bhaskar Paid App</strong></a></li>
									<li>Global Information...</li>
									<li>Android / 2.3 M / V1.0.1</li>
								</ul>
							</div>
						</div>
					</td>
				<td class="text-right addpaddingright">Price (USD): $ 2.99</td>
				</tr>
				<tr>
				<td class="text-left addpaddingleft">
					<div class="buttonwrapperTable">
						<div class="displayinlineblock"><figure class="hpux large blue ribbon ignoremargin"></figure></div>
							<div class="displayinlineblock">
								<ul class="tableList font-12">
									<li><a href="#"><strong>Bhaskar Paid App</strong></a></li>
									<li>Global Information...</li>
									<li>Android / 2.3 M / V1.0.1</li>
								</ul>
							</div>
						</div>
					</td>
				<td class="text-right addpaddingright">Price (USD): $ 2.99</td>
				</tr>
				<tr>
				<td class="text-left addpaddingleft">
					<div class="buttonwrapperTable">
						<div class="displayinlineblock"><figure class="hpux large blue ribbon ignoremargin"></figure></div>
							<div class="displayinlineblock">
								<ul class="tableList font-12">
									<li><a href="#"><strong>Bhaskar Paid App</strong></a></li>
									<li>Global Information...</li>
									<li>Android / 2.3 M / V1.0.1</li>
								</ul>
							</div>
						</div>
					</td>
				<td class="text-right addpaddingright">Price (USD): $ 2.99</td>
				</tr>
				</tbody>
			</table>

			<div class="clear"></div>
			<hr>

			<section>
				<h4>Payment Method:</h4>
					<div class="verticalaligncontainer">
						<button href="#paymentMethods" data-toggle="modal"class="primarybutton btn_lg addmarginright addmarginbottom" type="button">Enter Billing Information</button>
					</div>
			</section>

			<div class="clear"></div>
			<hr>

			<section>
				<h4>Discount:</h4>
				<div class="gridthreequarters">
					<div class="spacer firstchild ignoreborder">
						<span class="formlabelinput">
										<input class="formlabelplace" placeholder="Enter a promo code here">
									</span>
					</div>
				</div>
				<div class="gridonequarter">
					<div class="spacer lastchild ignoreborder">
						<button class="primarybutton btn_lg35 btn-block" type="button">  Apply  </button>
					</div>
				</div>
			</section>
			<div class="clear"></div> 
			<hr>

			<section>
				<div class="constrainedwidth">
					<div class="gridonethird">
						<div class="spacer firstchild ignoreborder">
							<table class="am_table profileTable">
			                  	<tbody>
			                    	<tr>
			                      		<td class="">Order No:</td>
			                      		<td class="">Dev-101-10000004-100011</td>
			                    	</tr>
			                    	<tr>
			                      		<td class="">Quantity:</td>
			                      		<td class="">5</td>
			                    	</tr>
			                    	<tr>
			                      		<td class="">Purchase Date:</td>
			                      		<td class="">4/15/2014</td>
			                    	</tr>

			                  	</tbody>
			                </table>
            			</div>
					</div>
					<div class="gridonethird">
						<div class="spacer ignoreborder"></div>
					</div>
					<div class="gridonethird">
						<div class="spacer lastchild ignoreborder">
							<table class="am_table profileTable">
			                  	<tbody>
			                    	<tr>
			                      		<td class="text-right">Subtotal (USD):</td>
			                      		<td class="text-right">$ 32.95</td>
			                    	</tr>
			                    	<tr>
			                      		<td class="text-right">Tax (USD):</td>
			                      		<td class="text-right">$ 5.32</td>
			                    	</tr>
			                    	<tr>
			                      		<td class="text-right">Total (USD):</td>
			                      		<td class="text-right">$ 38.27</td>
			                    	</tr>

			                  	</tbody>
			                </table>
			            </div>
					</div>
				</div>
			</section>
			<div class="clear"></div>

			<div class="formfooter"> 
                <div class="footertext buttonwrapper ignoremarginleftright">
					<button class="secondarybutton addmarginright">Cancel </button>
					<a href="008a.html"><button class="primarybutton" href="008a.html">Purchase </button></a>
				</div>
			</div>

	    </div>
    </div>
</section>
  
<div class="clear"></div>

<!-- Footer -->
<section>
	<div class="constrainedwidth">
		<a href="008.html">prev</a> | <a href="001.html">next</a>
	</div>
</section>
<!-- END Footer -->

 
<!--Insert Code above-->
<!-- ================================================== END CONTAINER ================================================== -->

<!-- ====================================================== Modals ====================================================== -->

<!-- ====================================================== END Modals ====================================================== -->
 
<!-- SCRIPTING (ALWAYS PUT AT THE END FOR FASTER LOADING OF PAGE)
==================================================================== -->
 
<script src="js/jquery.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script src="js/code.js"></script>
<script src="js/datepicker.js"></script>
<script src="js/tooltip.js"></script>
<script src="js/popover.js"></script>
<script src="js/tab.js"></script>
<script src="js/scrollspy.js"></script>
<script src="js/stickyscrollspy.js"></script>
<script src="js/dropdown.js"></script>
<script src="js/dropdownheader.js"></script>
<script src="js/carousel.js"></script>
<script src="js/accordion.js"></script>
<script src="js/modal.js"></script>
<script src="js/customselect.js"></script>
<script src="js/multiselect.js"></script>
<script src="js/multilevelselect.js"></script>
<script src="js/imagesselectoption.js"></script>
<script src="js/section.js"></script>
<script src="js/jquery.sortElements.js"></script>
<script src="js/stickyheading.js"></script>
<script src="js/overlay.js"></script>
<script src="js/backgroundfocus.js"></script>
<script src="js/jquery.placeholder.js"></script>
<script src="js/ie.js"></script>
<script src="js/localscroll.js"></script>
<script src="js/scrollTo-min.js"></script>
<script src="js/imageslider.js"></script>
<script src="js/prettify.js"></script>
 
<!-- END SCRIPTING
================================================== -->
</body>
</html>